@use 'src/styles/settings'as s;
@use "sass:color";

.map-list {
    position     : relative;
    padding-top  : 2.5rem;
    margin-bottom: 2.5rem;

    &__container {
        position     : relative;
        width        : 100%;
        height       : 6rem;
        border-radius: s.$border-radius-medium;
        transition   : height ease-in-out 0.5s;
        overflow     : hidden;

        &:before {
            content   : '';
            position  : absolute;
            z-index   : 9;
            left      : 0;
            top       : 0;
            right     : 0;
            bottom    : 0;
            box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.1) inset;
        }
    }

    &--open &__container {
        height: calc(100vh - 5rem);

        &:before {
            pointer-events: none;
        }
    }

    &__button {
        position: absolute;
        z-index : 10;
        right   : 0;
        top     : 1.75rem;
        right   : 2.5rem;
    }
}

.mapboxgl-ctrl-bottom-right {
    display: none !important;
}