@use 'src/styles/settings'as s;

.view--login {
    text-align: center;

    &::before,
    &::after {
        content : '';
    }

    &::before {
        background-image: url('src/assets/images/bg-connexion.svg');
    }
}