@use 'src/styles/settings'as s;

.form {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
    width : min(100%, 40rem);

    &--small {
        width: min(100%, 25rem);
    }

    &__row {
        margin-bottom: 1.375rem;
    }

    &__cols {
        @media (min-width: s.$from-small) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2rem;
        }
    }

    &--separator {
        position: relative;
        padding-top: 1.375rem;
        margin-top: .5rem;

        &::before {
            content: '';
            position: absolute;
            left: 1.5rem;
            right: 1.5rem;
            top: 0;
            border-top: 2px solid rgba($color: #000000, $alpha: .075);
        }
    }
 
    &__error {
        margin-bottom: 1rem;
        font-size    : .9rem;
        color        : s.$error-color;
        position     : relative;
        animation    : 200ms ease-out slidein;
    }

    @keyframes slidein {
        from {
            transform: translateY(10px);
            opacity  : 0;
        }

        to {
            transform: translateY(0);
            opacity  : 1;
        }
    }
}