@use 'src/styles/settings' as s;

.more-results {
  &__button{
    border: none;
    background-color: s.$color-primary;
    color: white;
    border-radius: 25px;
    transition: all 0.3s;
    font-size: 16px;
    margin-top: 30px;
    text-align: center;
    margin-bottom: 25px;
    padding: 12px 30px;
  }
  
}