@use 'src/styles/settings'as s;

.searchbar {
    display         : grid;
    position        : relative;
    z-index         : 4 !important;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius   : s.$border-radius;
    box-shadow      : s.$shadow-small;
    margin-bottom   : 3rem;

    &__container {
        margin: 1.5rem 1.5rem;
    }

    &__button {
        margin    : 1.5rem auto;
        align-self: center;
    }

    @media (min-width: s.$from-small) {
        &__container {
            margin: 2rem 3rem;
        }

        &__button {
            margin: 2rem auto;
        }
    }

    @media (min-width: s.$from-medium) {
        grid-template-columns: 1fr auto auto;

        &__container,
        &__button {
            margin: 2.5rem 3rem;
        }
    }

    &__search {
        display              : grid;
        position             : relative;
        grid-template-columns: 1fr auto;
    }

    & &__input {
        position           : relative;
        width              : calc(100% + 50px);
        padding-left       : 3.5rem;
        border-radius      : 100em;
        border-top         : 1px solid rgba(0, 0, 0, 0.1);
        background         : url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='32' height='32'><path fill='%23ec7253' d='M12 11.484q1.031 0 1.758-0.727t0.727-1.758-0.727-1.758-1.758-0.727-1.758 0.727-0.727 1.758 0.727 1.758 1.758 0.727zM12 2.016q2.906 0 4.945 2.039t2.039 4.945q0 1.453-0.727 3.328t-1.758 3.516-2.039 3.070-1.711 2.273l-0.75 0.797q-0.281-0.328-0.75-0.867t-1.688-2.156-2.133-3.141-1.664-3.445-0.75-3.375q0-2.906 2.039-4.945t4.945-2.039z'></path></svg>");
        background-repeat  : no-repeat;
        background-position: left 1rem top .875rem;
        background-size    : 2.675rem;
        background-color   : #ffffff;
        transition         : background-position ease-in-out 200ms;

        &:focus {
            background-position: left 1rem top .625rem;
        }
    }

    &__separator {
        position     : relative;
        display      : grid;
        align-items  : center;
        justify-items: center;
        color        : s.$txt-color-lightest;

        &::before,
        &::after {
            content   : '';
            position  : absolute;
            height    : 2px;
            top       : 0;
            left      : 0;
            right     : 0;
            margin-top: 0.7rem;
            background: rgba(0, 0, 0, 0.05);
        }

        &::before {
            left: calc(50% + 3rem);
        }

        &::after {
            right: calc(50% + 3rem);
        }

        @media (min-width: s.$from-medium) {

            &::before,
            &::after {
                content    : '';
                position   : absolute;
                width      : 2px;
                height     : auto;
                top        : 0;
                bottom     : 0;
                left       : 0;
                margin-top : 0;
                margin-left: 0.7rem;
                background : rgba(0, 0, 0, 0.05);
            }

            &::before {
                bottom: calc(50% + 20px);
            }

            &::after {
                top: calc(50% + 20px);
            }
        }
    }

    &__error {
        margin-bottom: 1rem;
        text-align   : center;
        color        : s.$error-color;
        position     : relative;

        @include s.animation-slide-up();
    }
}