@use 'src/styles/settings' as s;

.create-form {
  background-image: url('src/assets/images/creationActivity.svg');
  //background-size: contain;
  background-size: max(400px + 25%);
  background-repeat: no-repeat;
  background-position: center right -170px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  flex-direction: column;
  margin: 30px 0 50px 0;

  &__container {
    display: grid;
  }

  &__container-inner {
    display: grid;
    grid-template-columns: 1fr;
  }
  &__container-inner-3col {
    display: grid;
    grid-template-columns: 1fr;
  }

  &__label {
    display: block;
    font-size: 17px;
    color: s.$dark-color;
    text-align: left;
    padding-bottom: 15px;
    padding-left: 25px;
  }

  &__required {
    color: s.$primary-color;
  }

  &__title {
    font-size: 32px;
    margin-bottom: 45px;
    color: s.$dark-color;
    text-align: center;
  }

  &__input {
    width: 100%;
    margin-bottom: 25px;
    border-radius: 25px;
    border: none;
    box-shadow: s.$shadow;
    font-size: 16px;
    padding: 15px 25px;
    outline: none;
  }

  &__input--submit {
    background-color: s.$primary-color;
    color: white;
    padding: 10px;
    border-radius: 25px;
    border: none;
    transition: all 0.3s;
    font-size: 16px;
    //width: 500px;
    margin-top: 30px;
    text-align: center;
    margin-bottom: 25px;
    padding: 15px 0;
  }


&__input--submit:hover {
  box-shadow: s.$shadow;
}

&__input--select {
color: grey
}
&__input--black{
  color: black
}

::placeholder {
  font-size: 1em;
  font-family: Poppins, sans-serif;
  
}

  &__input--hight {
    border-radius: 25px;
    border: none;
    padding: 60px;
    box-shadow: s.$shadow;
    font-size: 16px;
    padding: 15px 25px;
    //width: 500px;
    //height: 110px
  }

  &__input--select {
    background-color: white;
  }

  &__noAccount {
    font-size: 16px;
    color: s.$dark-color-light;
  }

  &__error {
    color: rgb(247, 8, 8);
    margin-bottom: 15px;
    text-align: center;
  }

}



@media (min-width: 640px) {  
  .create-form {
    &__container-inner {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
    }
    &__container-inner-3col {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 20px;
    }
  }
}
