@use 'src/styles/settings'as s;

.view--activity {
    text-align: center;
    overflow: hidden;

    &::after {
        content: '';
    }

    .view__background {
        max-height: 500px;
    }
}


.activity {

    &__header {
        display              : grid;
        grid-template-columns: 1fr;
        align-items          : center;
        padding              : 0 var(--horizontal-wrapper-content-margin);
        margin-bottom        : 2rem;
        margin-top           : 1rem;

        .button {
            justify-self: center;
            order       : 2;
            margin-top  : 1.5rem;
        }

        @media (min-width: s.$from-medium) {
            grid-template-columns: 10rem auto 10rem;

            .button {
                order       : -1;
                justify-self: start;
                margin-top  : 0;
            }
        }
    }

    .h1--activity {
        font-size    : 2rem;
        line-height  : 1.2;
        margin-bottom: 0;
        justify-self : center;

        @media (min-width: s.$from-small) {
            font-size: 2.5rem;
        }
    }

    &__infos {
        display              : grid;
        justify-content      : center;
        grid-template-columns: repeat(2, auto);

        &>* {
            justify-self         : start;
            display              : flex;
            grid-template-columns: auto 1fr;
            align-items          : center;
            font-family          : s.$font-family-heading;
            line-height          : s.$line-height-heading;
            color                : s.$primary-color;
            font-weight          : 700;
            font-size            : 1.125rem;

            .icon {
                margin-right: .55rem;
                width       : 1.6rem;
                height      : 1.6rem;
                color       : s.$primary-color;
            }

            &:not(:first-child) {
                position   : relative;
                margin-left: 1.5rem;

                &::before {
                    content    : '';
                    display    : inline-block;
                    height     : 100%;
                    left       : 0;
                    width      : 1.5rem;
                    border-left: 2px solid s.$primary-color-lighter;
                    opacity    : .9;
                }
            }

        }

        &>*:first-child,
        &>*:nth-child(3) {
            justify-self: end;
        }

        &>*:nth-child(n+3) {
            margin-top: 1rem;
        }

        &>*:nth-child(3) {
            margin-left: 0;

            &::before {
                content: none;
            }
        }

        @media (min-width: s.$from-small) {
            grid-template-columns: repeat(4, auto);

            &>*:first-child,
            &>*:nth-child(3) {
                justify-self: start;
            }

            &>*:nth-child(n+3) {
                margin-top: inherit;
            }

            &>*:nth-child(3) {
                margin-left: 1.5rem;

                &::before {
                    content: '';
                }
            }
        }
    }

    &__infos-sup {
        display              : grid;
        grid-template-columns: 1fr;
        justify-items        : start;
        margin-top           : 3rem;
        padding              : var(--horizontal-wrapper-content-margin);
        border-radius        : s.$border-radius-medium;
        box-shadow           : s.$shadow;
        background           : rgba($color: #000000, $alpha: 1.0);
        background           : linear-gradient(rgba($color: #ffffff, $alpha: .9) 80%, rgba($color: #f8f8f8, $alpha: .9) 100%);
        text-align           : left;
    }



    &__desc {
        position: relative;
        justify-self: stretch;
        padding-right: var(--horizontal-wrapper-content-margin);
        padding-bottom: var(--horizontal-wrapper-content-margin);

        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 25%;
            right: 25%;
            height: 2px;
            background: rgba($color: #000000, $alpha: .05);
        }
    }



    &__organization {
        padding-top: var(--horizontal-wrapper-content-margin);
        justify-self: stretch;

        &-title {
            font-size    : 1.05rem;
            display      : flex;
            margin-bottom: .125rem;

            &--2 {
                margin-top: 1rem;
            }
        }

        .icon {
            max-width   : 1.5rem;
            max-height  : 1.5rem;
            margin-right: .75rem;
            flex-shrink : 0;
        }

        &-txt {
            padding-left: 2.25rem;

            &--light {
                color    : s.$txt-color-lighter;
                font-size: .8rem;
            }
        }
    }




    &__registration {
        padding-top: var(--horizontal-wrapper-content-margin);
        align-self  : center;
        text-align: center;
        justify-self: stretch;

        &-txt {
            padding-top: 1rem;
            color      : s.$txt-color-lighter;
            font-size  : .75rem;
            line-height: 1.6;
        }
    }


    @media (min-width: s.$from-tiny) {
        &__infos-sup {
            grid-template-columns: 1fr 1fr;
        }

        &__desc {
            grid-column-end: span 2;
        }
    }
    


    @media (min-width: s.$from-small) {
        &__infos-sup {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto;
        }

        &__desc {
            grid-column-end: span 1;
            grid-row-end: span 2;
            padding-right: var(--horizontal-wrapper-content-margin);
            border-bottom: none;
            
            &::before {
                content: '';
                position: absolute;
                right: 0;
                top: 10%;
                bottom: 10%;
                width: 2px;
                height: auto;
                left: auto;
                background: rgba($color: #000000, $alpha: .05);
            }
        }

        &__organization {
            padding-left: 2rem;
            padding-top: 0;
        }
        
        &__registration {
            padding-left: 2rem; 
        }
    }


    @media (min-width: s.$from-medium) {

        &__organization {
            display: grid;
            grid-template-columns: 1fr 1fr;

            &-title {
                &--2 {
                    margin-top: 0;
                }
            }
        }

    }


    @media (min-width: s.$from-large) {
        &__infos-sup {
            grid-template-columns: 2fr 1fr 1fr;
        }

        &__desc {
            grid-column-end: span 1;
        }

        &__organization {
            display: block;
            padding-top: 0;
            &-title {
                &--2 {
                    margin-top: 1.75rem;
                }
            }
        }
        
        &__registration {
            padding-top: 0;
        }
    }
}