@use 'src/styles/settings'as s;

.view {
    position      : relative;
    min-height    : 100vh;
    display       : flex;
    flex-direction: column;

    &::before,
    &::after {
        position : absolute;
        z-index  : -2;
        top      : 0;
        right    : 0;
        left     : 0;
        height   : 100vh;
        min-height: 600px;
    }

    &::before {
        z-index            : -2;
        opacity            : .3;
        background-repeat  : no-repeat;
        background-position: bottom center;
        background-size    : auto 80%;

        @media (min-width: s.$from-medium) {
            opacity            : 1;
            background-size    : auto 90%;
            background-position: center right -50px;

            @include s.animation-slide-up(500ms, 50px);
        }

        @media (min-width: s.$from-huge) {
            background-position: center right;
        }
    }

    &::after {
        z-index   : -1;
        opacity   : .5;
        max-width : s.$from-large;
        background: linear-gradient(90deg, rgba($color: s.$background-color, $alpha: .8) 50%, rgba($color: s.$background-color, $alpha: 0));

        @media (min-width: s.$from-medium) {
            opacity: 1;
        }

        @media (min-width: s.$from-huge) {
            background: linear-gradient(90deg, rgba($color: s.$background-color, $alpha: .8) 30%, rgba($color: s.$background-color, $alpha: 0));
        }
    }
}

.main {
    flex-grow: 1;
}