@use 'src/styles/settings'as s;

.messages {
    position      : relative;
    display       : flex;
    flex-direction: column;
    height        : 400px;

    &__container {
        position : relative;
        flex-grow: 0;
        overflow : hidden;
        height   : 100%;

        &::before,
        &:after {
            content       : '';
            pointer-events: none;
            display       : block;
            position      : absolute;
            z-index       : 2;
            height        : 60px;
            left          : 0;
            right         : 0;
            bottom        : 0;
            opacity       : .8;
            border-radius : 0 0 s.$border-radius-medium s.$border-radius-medium;
            background    : linear-gradient(rgba(224, 223, 219, 0) 0%, rgb(224, 223, 219) 100%);
        }

        &:after {
            bottom       : auto;
            top          : 0;
            height       : 1rem;
            opacity      : .8;
            border-radius: s.$border-radius-medium s.$border-radius-medium 0 0;
            background   : linear-gradient(rgb(224, 223, 219) 0%, rgba(224, 223, 219, 0) 100%);
        }
    }

    &__container-inner {
        position      : relative;
        overflow-y    : scroll;
        display       : flex;
        flex-direction: column;
        flex-grow     : 1;
        align-items   : flex-start;
        padding-bottom: 50px;
        width         : 100%;
        height        : 100%;
        text-align    : left;
        border-radius : s.$border-radius-medium;
        background    : s.$color-background-dark;
        box-shadow    : 0 0 10px rgba(0, 0, 0, 0.05) inset;
        overflow      : auto;
    }

    &__form {
        display              : grid;
        position             : relative;
        z-index              : 2;
        grid-template-columns: 1fr auto;
        padding-top          : .5rem;
    }

    .input--messages {
        position: relative;
        width   : calc(100% + 50px);
    }

    &__empty {
        display        : flex;
        flex-direction : column;
        justify-content: center;
        align-items    : center;
        width          : 100%;
        height         : 100%;
        border-radius  : s.$border-radius-medium;
        background     : s.$color-background-dark;

        &-icon {
            max-width : 6rem;
            max-height: 6rem;
            opacity   : .1;
            transition: transform ease-in-out 500ms;
        }

        &-txt {
            padding-top: 1rem;
            opacity    : .3;
        }

        &:hover &-icon {
            animation: 1500ms infinite linear rotate;
        }

        @keyframes rotate {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(360deg);
            }
        }
    }
}

.message {
    display: block;
    margin : .5rem 1.25rem 0 1.25rem;

    &:first-child {
        margin-top: 1rem;
    }

    &__content {
        padding-bottom: .125rem;
        background    : #ffffff;
        padding       : .675rem 1.25rem .675rem 1.25rem;
        min-width     : 200px;
        border-radius : 1.375rem;
        box-shadow    : s.$shadow-tiny;
    }

    &__author {
        padding-top: .25rem;
    }

    &__pseudo {
        color      : s.$color-primary;
        font-size  : 0.9rem;
        font-weight: 500;
        margin-left: 1.25rem;
    }

    &__date {
        font-size  : 0.75rem;
        opacity    : .5;
        margin-left: .25rem;
    }
}