@mixin animation-slide-up($duration: 200ms, $height: 10px, $delay: 0ms) {
    animation: $duration ease-out $delay both slidein#{$height} ;

    @keyframes slidein#{$height} {
        from {
            transform: translateY($height);
            opacity  : 0;
        }
        to {
            transform: translateY(0);
            opacity  : 1;
        }
    }
}

@mixin animation-slide-down($duration: 200ms, $height: 10px, $delay: 0ms) {
    animation: $duration ease-out $delay both slidedown#{$height};

    @keyframes slidedown#{$height} {
        from {
            transform: translateY(-$height);
            opacity  : 0;
        }
        to {
            transform: translateY(0);
            opacity  : 1;
        }
    }
}