@mixin animation-slide-up($duration: 200ms, $height: 10px, $delay: 0ms, $name: default) {
    animation: $duration ease-out $delay both slidein-#{$name}#{$height} ;

    @keyframes slidein-#{$name}#{$height} {
        from {
            transform: translateY($height);
            opacity  : 0;
        }
        to {
            transform: translateY(0);
            opacity  : 1;
        }
    }
}

@mixin animation-slide-down($duration: 200ms, $height: 10px, $delay: 0ms, $name: default) {
    animation: $duration ease-out $delay both slidedown-#{$name}#{$height};

    @keyframes slidedown-#{$name}#{$height} {
        from {
            transform: translateY(-$height);
            opacity  : 0;
        }
        to {
            transform: translateY(0);
            opacity  : 1;
        }
    }
}