@use 'src/styles/settings' as s;

.search {
  &__no-result {
    padding-top: 3rem;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 500;
    color: s.$color-primary;
  }
  &__no-result-img{
    position: relative;
    margin-top: -5vw;
    width: 700px;
    max-width: 90%;
    height: auto;
  }
}


.heading-2 {
  font-family: s.$font-family-heading;
  font-size: 1.5rem;
  font-weight: 600;
  color: s.$color-dark;
  padding-bottom: 1rem;
  padding-top: 2rem;

  &__txt-color {
    color: s.$color-primary;
  }
}

@media (max-width: 500px) {
  .heading-2 {
    padding: 20px;
    text-align: center;
  }
}