@use 'src/styles/settings'as s;

.input {
    padding      : 0.75rem 1.5rem;
    line-height  : s.$line-height;
    border-radius: s.$border-radius;
    background   : #fff;
    color        : s.$txt-color-dark;
    box-shadow   : s.$shadow-small, 0 0 0 2px rgba($color: s.$primary-color-lighter, $alpha: 0) inset;
    transition   : box-shadow ease 200ms;

    &:not(&--error):focus {
        box-shadow: s.$shadow-small, 0 0 0 2px rgba($color: s.$primary-color-lighter, $alpha: 1.0) inset;
    }

    &--error {
        box-shadow: s.$shadow-small, 0 0 0 2px rgba($color: s.$error-color, $alpha: .35) inset;
    }

    &__error {
        margin-top  : .35rem;
        padding-left: 1.5rem;
        font-size   : .75rem;
        text-align  : left;
        color       : s.$error-color;
        position    : relative;
        animation   : 200ms ease-out slidein;
    }

    @keyframes slidein {
        from {
            transform: translateY(-5px);
            opacity  : 0;
        }

        to {
            transform: translateY(0);
            opacity  : 1;
        }
    }

    &--textarea {
        border-radius: s.$border-radius;
    }

    &--select { 
        background: #fff url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='32' height='32'><path fill='%23fc8668' d='M7.406 8.578l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>");
        background-repeat: no-repeat;
        background-size: 2.75rem;
        background-position: top .5rem right 0rem;
    }

    &--date::-webkit-calendar-picker-indicator,
    &--time::-webkit-calendar-picker-indicator {
        color: transparent;
        z-index: 1;
        transform: translateX(.4rem);
        border: none !important;
        outline: none !important;
        cursor: pointer;
    }
    &--date::-webkit-calendar-picker-indicator {
        background: #fff url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='32' height='32'><path fill='%23fc8668' d='M20.016 21v-12.984h-16.031v12.984h16.031zM20.016 3q0.797 0 1.383 0.609t0.586 1.406v15.984q0 0.797-0.586 1.406t-1.383 0.609h-16.031q-0.797 0-1.383-0.609t-0.586-1.406v-15.984q0-0.797 0.586-1.406t1.383-0.609h1.031v-2.016h1.969v2.016h10.031v-2.016h1.969v2.016h1.031z'></path></svg>");
        background-repeat: no-repeat;
        background-size: 1.75rem;
        background-position: top 0 left .2rem;
    }
    &--time::-webkit-calendar-picker-indicator {
        background: #fff url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='32' height='32'><path fill='%23fc8668' d='M16.219 16.219l0.797-1.313-4.5-2.719v-5.203h-1.5v6zM12 2.016q4.125 0 7.055 2.93t2.93 7.055-2.93 7.055-7.055 2.93-7.055-2.93-2.93-7.055 2.93-7.055 7.055-2.93z'></path></svg>");
        background-repeat: no-repeat;
        background-size: 2rem;
        background-position: top 0 left 0;
    }

    &__checkbox-label {
        display: flex;
        cursor : pointer;
    }

    &--checkbox {
        position     : relative;
        width        : 1.25rem;
        height       : 1.25rem;
        padding      : 0;
        margin-right : 1rem;
        border-radius: .25rem;

        &::before {
            content      : '';
            position     : absolute;
            left         : 4px;
            top          : 4px;
            right        : 4px;
            bottom       : 4px;
            border-radius: 2px;
            transition   : background-color ease-in-out 200ms;
        }

        &:checked::before {
            background-color: s.$primary-color;
        }
    }

    &__label {
        display    : block;
        text-align : left;
        padding    : 0 0 .5rem 1.5rem;
        font-weight: s.$font-weight-medium;

        &--required::after {
            content     : '*';
            display     : inline-block;
            padding-left: .25rem;
        }

        &--optional::after {
            content     : '(optionnel)';
            display     : inline-block;
            padding-left: .5rem;
            font-size   : .8rem;
            color       : s.$txt-color-lighter;
        }
    }
}


