@use 'src/styles/settings'as s;

.footer {
  position  : relative;
  z-index   : 100;
  padding   : 2rem 0;
  font-size : 0.9rem;
  color     : s.$txtColorLight;
  border-top: 2px solid rgba(0, 0, 0, .075);

  &__content {
    text-align: center;

    @media (min-width: s.$from-small) {
      display        : flex;
      justify-content: space-between;
      flex-wrap      : wrap;
    }
  }

  &__links {
    display       : inline-flex;
    flex-direction: row;
    align-items   : center;
    flex-wrap     : wrap;

    li {
      &:not(:first-child) {
        margin-left: 1rem;
      }
    }

    @media (max-width: s.$to-small) {
      margin-top: 1rem;
    }
  }
}