@use 'src/styles/settings'as s;

.button {
    position      : relative;
    display       : inline-flex;
    vertical-align: middle;
    align-items   : center;
    //padding       : 0.625rem 1.25rem;
    padding       : 0.75rem 1.5rem;
    font-family   : s.$font-family-heading;
    font-size     : .95rem;
    color         : #fff;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background    : s.$dark-color;
        border-radius : 100em;
        transition: transform 150ms s.$Power3EaseInOut;
    }
    
    &:hover::before {
        transform: scale(1.075, 1.1);
    }

    & + & {
        margin-left: .5rem;
    }
    
    &:not([class*=-outline]) {
        text-shadow: 1px 1px 2px rgba($color: #000000, $alpha: .2);
        &::before {
            box-shadow: 2px 2px 5px rgba($color: #000000, $alpha: .1) inset;
        }
    }

    &--small {
        padding  : 0.5rem 1rem;
        font-size: 0.9rem;
    }

    &--big {
        //padding  : 0.75rem 1.5rem;
        padding  : .875rem 1.75rem;
        font-size: 1rem;
    }

    &--primary {
        &::before {
            background-color: s.$primary-color;
        }
    }

    &--secondary {
        &::before {
            background-color: s.$secondary-color;
        }
    }

    &--outline {
        color      : s.$dark-color-dark;
        font-weight: 500;
        background : transparent;
        &::before {
            box-shadow: 0 0 0 2px rgba($color: s.$dark-color, $alpha: 0.085) inset;
            //background-color: rgba($color: s.$dark-color, $alpha: .035);
            background-color: rgba($color: s.$dark-color-lightest, $alpha: .8);
        }
    }

    &--primary-outline {
        color      : s.$primary-color;
        font-weight: 500;
        background : transparent;
        &::before {
            box-shadow: 0 0 0 2px rgba($color: s.$primary-color, $alpha: 0.2) inset;
            //background-color: rgba($color: s.$primary-color, $alpha: .1);
            background-color: rgba($color: s.$primary-color-lightest, $alpha: .8);
        }
    }

    &--secondary-outline {
        color      : s.$secondary-color;
        font-weight: 500;
        background : transparent;
        &::before {
            box-shadow: 0 0 0 2px rgba($color: s.$secondary-color, $alpha: 0.2) inset;
            //background-color: rgba($color: s.$secondary-color, $alpha: .1);
            background-color: rgba($color: s.$secondary-color-lightest, $alpha: .8);
        }
    }

    &--special {
        border-top-left-radius   : 0;
        border-bottom-left-radius: 0;
    }

    &__label {
        position: relative;
        z-index: 2;
    }

    &__icon {
        display       : inline-block;
        vertical-align: middle;
        position      : relative;
        width         : 1.35em;
        height        : 1.35em;
        margin-left   : -0.25em;
        margin-right  : 0.625em;
    }

    &--small &__icon {
        margin-right: 0.5em;
    }

    &--big &__icon {
        margin-right: 0.75em;
    }
}