@use 'src/styles/settings'as s;

.button {
    position      : relative;
    display       : inline-flex;
    vertical-align: middle;
    align-items   : center;
    line-height   : 2;
    //padding       : 0.75rem 1.5rem;
    padding       : 0.625rem 1.5rem;
    font-family   : s.$font-family-heading;
    font-size     : .95rem;
    color         : #fff;
    

    &::after {
        content      : "";
        position     : absolute;
        top          : 0;
        right        : 0;
        bottom       : 0;
        left         : 0;
        background   : s.$dark-color;
        border-radius: 100em;
        transition   : transform 150ms s.$Power3EaseInOut;
    }

    &:hover::after,
    &:focus::after {
        transform: scale(1.075, 1.1);
    }

    &+& {
        margin-left: .5rem;
    }

    &:not([class*=-outline]) {
        text-shadow: 1px 1px 2px rgba($color: #000000, $alpha: .2);

        &::after {
            box-shadow: 2px 2px 5px rgba($color: #000000, $alpha: .1) inset;
        }
    }

    &--small {
        // padding  : 0.5rem 1rem;
        padding  : 0.375rem 1rem;
        font-size: 0.9rem;
    }

    &--big {
        // padding  : .875rem 1.75rem;
        padding  : .75rem 1.75rem;
        font-size: 1rem;
    }

    &__icon .icon {
        display: block;
    }

    &__icon,
    &--loading::before {
        z-index       : 2;
        display       : inline-block;
        vertical-align: middle;
        position      : relative;
        width         : 1.75em;
        height        : 1.75em;
        margin-left   : -0.25em;
        margin-right  : 0.625em;
        //border: 1px solid red;
    }
    &--loading::before {
        width         : 1.25em;
        height        : 1.25em;
        margin-top    : -1px;
    }

    &--small &__icon,
    &--small.button--loading::before {
        width         : 1.3em;
        height        : 1.3em;
        margin-right  : 0.5em;
        margin-left   : -0.125em;
    }
    &--small.button--loading::before {
        width         : 1em;
        height        : 1em;
    }

    &--big &__icon,
    &--big.button--loading::before {
        width         : 1.875em;
        height        : 1.875em;
        margin-right  : 0.75em;
        margin-left   : -0.375em;
    }
    &--big.button--loading::before {
        width         : 1.3em;
        height        : 1.3em;
    }

    &--loading {
        &::before {
            content         : '';
            opacity         : .5;
            animation       : 1000ms infinite linear rotate;
            transform-origin: 50%;
            background      : url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='32' height='32'><path fill='white' d='M16 32c-4.274 0-8.292-1.664-11.314-4.686s-4.686-7.040-4.686-11.314c0-3.026 0.849-5.973 2.456-8.522 1.563-2.478 3.771-4.48 6.386-5.791l1.344 2.682c-2.126 1.065-3.922 2.693-5.192 4.708-1.305 2.069-1.994 4.462-1.994 6.922 0 7.168 5.832 13 13 13s13-5.832 13-13c0-2.459-0.69-4.853-1.994-6.922-1.271-2.015-3.066-3.643-5.192-4.708l1.344-2.682c2.615 1.31 4.824 3.313 6.386 5.791 1.607 2.549 2.456 5.495 2.456 8.522 0 4.274-1.664 8.292-4.686 11.314s-7.040 4.686-11.314 4.686z'></path></svg>");
            background-size : 100%;
        }

        @keyframes rotate {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(360deg);
            }
        }
    }

    &--primary {
        &::after {
            background-color: s.$primary-color;
        }
    }

    &--secondary {
        &::after {
            background-color: s.$secondary-color;
        }
    }

    &--outline {
        color      : s.$dark-color-dark;
        font-weight: 500;
        background : transparent;

        &::after {
            box-shadow      : 0 0 0 2px rgba($color: s.$dark-color, $alpha: 0.085) inset;
            background-color: rgba($color: s.$dark-color-lightest, $alpha: .8);
        }

        &.button--loading {
            &::before {
                opacity        : .25;
                background     : url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='32' height='32'><path fill='%23273940' d='M16 32c-4.274 0-8.292-1.664-11.314-4.686s-4.686-7.040-4.686-11.314c0-3.026 0.849-5.973 2.456-8.522 1.563-2.478 3.771-4.48 6.386-5.791l1.344 2.682c-2.126 1.065-3.922 2.693-5.192 4.708-1.305 2.069-1.994 4.462-1.994 6.922 0 7.168 5.832 13 13 13s13-5.832 13-13c0-2.459-0.69-4.853-1.994-6.922-1.271-2.015-3.066-3.643-5.192-4.708l1.344-2.682c2.615 1.31 4.824 3.313 6.386 5.791 1.607 2.549 2.456 5.495 2.456 8.522 0 4.274-1.664 8.292-4.686 11.314s-7.040 4.686-11.314 4.686z'></path></svg>");
                background-size: 100%;
            }
        }
    }

    &--primary-outline {
        color      : s.$primary-color;
        font-weight: 500;
        background : transparent;

        &::after {
            box-shadow      : 0 0 0 2px rgba($color: s.$primary-color, $alpha: 0.2) inset;
            background-color: rgba($color: s.$primary-color-lightest, $alpha: .8);
        }

        &.button--loading {
            &::before {
                opacity        : .3;
                background     : url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='32' height='32'><path fill='%23c75a40' d='M16 32c-4.274 0-8.292-1.664-11.314-4.686s-4.686-7.040-4.686-11.314c0-3.026 0.849-5.973 2.456-8.522 1.563-2.478 3.771-4.48 6.386-5.791l1.344 2.682c-2.126 1.065-3.922 2.693-5.192 4.708-1.305 2.069-1.994 4.462-1.994 6.922 0 7.168 5.832 13 13 13s13-5.832 13-13c0-2.459-0.69-4.853-1.994-6.922-1.271-2.015-3.066-3.643-5.192-4.708l1.344-2.682c2.615 1.31 4.824 3.313 6.386 5.791 1.607 2.549 2.456 5.495 2.456 8.522 0 4.274-1.664 8.292-4.686 11.314s-7.040 4.686-11.314 4.686z'></path></svg>");
                background-size: 100%;
            }
        }
    }

    &--secondary-outline {
        color      : s.$secondary-color;
        font-weight: 500;
        background : transparent;

        &::after {
            box-shadow      : 0 0 0 2px rgba($color: s.$secondary-color, $alpha: 0.2) inset;
            background-color: rgba($color: s.$secondary-color-lightest, $alpha: .8);
        }

        &.button--loading {
            &::before {
                opacity        : .4;
                background     : url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='32' height='32'><path fill='%23438f86' d='M16 32c-4.274 0-8.292-1.664-11.314-4.686s-4.686-7.040-4.686-11.314c0-3.026 0.849-5.973 2.456-8.522 1.563-2.478 3.771-4.48 6.386-5.791l1.344 2.682c-2.126 1.065-3.922 2.693-5.192 4.708-1.305 2.069-1.994 4.462-1.994 6.922 0 7.168 5.832 13 13 13s13-5.832 13-13c0-2.459-0.69-4.853-1.994-6.922-1.271-2.015-3.066-3.643-5.192-4.708l1.344-2.682c2.615 1.31 4.824 3.313 6.386 5.791 1.607 2.549 2.456 5.495 2.456 8.522 0 4.274-1.664 8.292-4.686 11.314s-7.040 4.686-11.314 4.686z'></path></svg>");
                background-size: 100%;
            }
        }
    }

    &--special {
        border-top-left-radius   : 0;
        border-bottom-left-radius: 0;
    }

    &__label {
        position: relative;
        z-index : 2;
    }
}