@use 'src/styles/settings' as s;

.button {
  position: relative;
  padding: .625rem 1.25rem;
  border-radius: 100em;
  font-family: s.$font-family-heading;
  font-size: 1rem;
  color: #fff;
  background: s.$dark-color;

  /*
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #101010;
  }
  */

  &--small {
    padding: .5rem 1rem;
    font-size: .9rem;
  }

  &--big {
    padding: .75rem 1.5rem;
    font-size: 1rem;
  }

  &--primary {
    background: s.$primary-color;
    border: 2px solid s.$primary-color;
  }

  &--secondary {
    background: s.$secondary-color;
    border: 2px solid s.$secondary-color;
  }

  &--outline {
    color: s.$dark-color;
    font-weight: 500;
    background: transparent;
    border: 2px solid rgba($color: s.$dark-color, $alpha: 0.2);
  }

  &--primary-outline {
    color: s.$primary-color;
    font-weight: 500;
    background: transparent;
    border: 2px solid rgba($color: s.$primary-color, $alpha: 0.5);
  }

  &--secondary-outline {
    color: s.$secondary-color;
    font-weight: 500;
    background: transparent;
    border: 2px solid rgba($color: s.$secondary-color, $alpha: 0.6);
  }
  
  &--special {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}