$txtColor: #222222;
$primaryColor: #EC7253;
$secondaryColor: #5AB4A9;

$darkColor: #273940;
$LightDarkColor: #575d5f;

$backgroundColor: #F5F1ED;


// Specific
// =============================================================================
$selection-background-color: #EC7253;
$selection-text-color: #ffffff;

