$primary-color         : #ec7253;
$primary-color-dark    : #c75a40;
$primary-color-light   : #fc8668;
$primary-color-lightest: #f4e5dd;

$secondary-color         : #5ab4a9;
$secondary-color-dark    : #438f86;
$secondary-color-light   : #6cccc0;
$secondary-color-lightest: #e5ebe6;

$dark-color         : #425359;
$dark-color-dark    : #273940;
$dark-color-light   : #546c75;
$dark-color-lightest: #eeece8;

$txt-color      : #515151;
$txt-color-light: #8d8d8d;

$link-color      : $primary-color;
$link-color-hover: $primary-color-dark;

$background-color: #f5f1ed;

// Specific
$selection-background-color: $primary-color;
$selection-text-color      : #ffffff;