// Typography
$fontHeading: 'Poppins',
sans-serif;
$font-size  : 16px;
$line-height: 24px / $font-size;
$font-family: sans-serif;
$color      : #222222;

// Spacing
$unit:       3rem;
$unit-small: 1.5rem;

// Container
$container-width: 1240px;
$padding-small  : $unit-small;
$padding        : $unit;

// Breakpoints
$from-tiny    : 500px;
$to-tiny      : $from-tiny - 1;
$from-small   : 700px;
$to-small     : $from-small - 1;
$from-medium  : 1000px;
$to-medium    : $from-medium - 1;
$from-large   : 1200px;
$to-large     : $from-large - 1;
$from-big     : 1400px;
$to-big       : $from-big - 1;
$from-huge    : 1600px;
$to-huge      : $from-huge - 1;
$from-enormous: 1800px;
$to-enormous  : $from-enormous - 1;
$from-gigantic: 2000px;
$to-gigantic  : $from-gigantic - 1;
$from-colossal: 2400px;
$to-colossal  : $from-colossal - 1;

// Decoration
$shadow: 0 1px 10px rgb(199, 199, 199);
$shadowHover: 0 4px 6px rgb(170, 170, 170);