@use '../settings'as s;

// Colors

.u-color-primary {
    color: s.$primary-color;
}

.u-color-secondary {
    color: s.$secondary-color;
}

.u-color-dark {
    color: s.$dark-color;
}
.u-color-dark-light {
    color: s.$dark-color-light;
}
.u-color-dark-lighter {
    color: s.$dark-color-lighter;
}
.u-color-dark-lightest {
    color: s.$dark-color-lightest;
}

.u-color-txt-light {
    color: s.$txt-color-lighter;
}
.u-color-txt-light {
    color: s.$txt-color-lighter;
}

