@use '../settings'as s;

// Colors

.u-color-primary {
    color: s.$color-primary;
}

.u-color-secondary {
    color: s.$color-secondary;
}

.u-color-dark {
    color: s.$color-dark;
}
.u-color-dark-light {
    color: s.$color-dark-light;
}
.u-color-dark-lighter {
    color: s.$color-dark-lighter;
}
.u-color-dark-lightest {
    color: s.$color-dark-lightest;
}

.u-color-txt-light {
    color: s.$color-txt-lighter;
}
.u-color-txt-light {
    color: s.$color-txt-lighter;
}

