// Margin

.u-margin-top-none {
    margin-top: 0;
}
.u-margin-top-\.5 {
    margin-top: .5rem;
}
.u-margin-top-1 {
    margin-top: 1rem;
}
.u-margin-top-2 {
    margin-top: 2rem;
}

.u-margin-bottom-none {
    margin-bottom: 0;
}
.u-margin-bottom-\.5 {
    margin-bottom: .5rem;
}
.u-margin-bottom-1 {
    margin-bottom: 1rem;
}
.u-margin-bottom-2 {
    margin-bottom: 2rem;
}

.u-margin-left-none {
    margin-left: 0;
}
.u-margin-left-\.5 {
    margin-left: .5rem;
}
.u-margin-left-1 {
    margin-left: 1rem;
}
.u-margin-left-2 {
    margin-left: 2rem;
}

.u-margin-right-none {
    margin-right: 0;
}
.u-margin-right-\.5 {
    margin-right: .5rem;
}
.u-margin-right-1 {
    margin-right: 1rem;
}
.u-margin-right-2 {
    margin-right: 2rem;
}