// Margin

.u-margin-top-none {
    margin-top: 0;
}

.u-margin-top-1 {
    margin-top: 1rem;
}

.u-margin-top-2 {
    margin-top: 2rem;
}

.u-margin-bottom-none {
    margin-top: 0;
}

.u-margin-bottom-1 {
    margin-top: 1rem;
}

.u-margin-bottom-2 {
    margin-top: 2rem;
}