@use 'src/styles/settings'as s;

.cards-container {
    display              : grid;
    gap                  : 2rem;
    grid-template-columns: 1fr;
    justify-items        : center;
    margin-top           : 2rem;

    &>* {
        width       : 280px;
        max-width   : 100%;
        margin-left : auto;
        margin-right: auto;
    }

    @media (min-width: 580px) {
        grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
        justify-items        : stretch;

        &>* {
            max-width   : inherit;
            width       : inherit;
            margin-left : inherit;
            margin-right: inherit;
        }
    }
}