@use 'src/styles/settings'as s;

.card {
    position      : relative;
    text-align    : center;
    display       : flex;
    flex-direction: column;
    align-items   : center;

    &::after {
        content      : '';
        position     : absolute;
        z-index      : -1;
        left         : 0;
        top          : 0;
        right        : 0;
        bottom       : 0;
        background   : #fff;
        border-radius: s.$border-radius-medium;
        box-shadow   : s.$shadow;
        transition   : transform 150ms s.$Power3EaseInOut;
    }

    &--participant,
    &--creator {
        &::before {
            content         : 'Je participe';
            position        : relative;
            position        : absolute;
            padding         : .2rem .5rem;
            top             : -.6rem;
            border-radius   : 12px;
            font-size       : .7rem;
            color           : #ffffff;
            background-color: s.$primary-color;
            font-family     : s.$font-family-heading;
            transition      : transform 150ms s.$Power3EaseInOut;
        }
    }

    &--participant {
        &::after {
            border: 2px solid s.$primary-color-lighter;
        }
    }

    &--creator {
        &::after {
            border: 2px solid s.$secondary-color-lighter;
        }

        &::before {
            content         : 'J\'organise';
            background-color: s.$secondary-color;
        }
    }

    &:hover {
        &::after {
            transform: scale(1.03) translateY(-.125rem);
        }
    }

    &--participant,
    &--creator {
        &:hover::before {
            transform: translateY(-10px) !important;
        }
    }

    .heading {
        margin-bottom: .5rem;
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        word-break: break-all;
    }

    &__link {
        display       : flex;
        width         : 100%;
        flex-direction: column;
        align-items   : center;
        padding       : 1.5rem 1.5rem 2rem 1.5rem;
        cursor        : pointer;
    }

    &__img {
        align-items  : stretch;
        margin-bottom: .5rem;
        transition   : transform 500ms s.$Power4EaseOut;
    }

    &:hover &__img {
        transform: translateY(-10px);
    }

    &__desc {
        margin-bottom: 1.5rem;
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        word-break: break-all;
    }

    &__infos {
        //width        : 100%;
        text-align   : left;
        margin-bottom: 1.75rem;
        margin-right: 1rem;
    }

    &__info {
        display    : flex;
        grid-template-columns: auto 1fr;
        align-items: center;
        font-weight: s.$font-weight-bold;
        color: s.$primary-color;

        &:not(:first-child) {
            margin-top: .5rem;
        }

        .icon {
            margin-right: .5rem;
            width       : 1.4rem;
            height      : 1.4rem;
        }

        &-time {
            display     : inline-block;
            margin-left : .5rem;
            padding-left: .5rem;
            border-left : 2px solid s.$primary-color-lightest;
        }
    }

    &--creator {
        .card__info {
            color: s.$secondary-color;
        }
    }

}