@use 'src/styles/settings'as s;

.card {
    position      : relative;
    text-align    : center;
    display       : flex;
    flex-direction: column;
    align-items   : center;
    transition    : transform s.$Power1EaseOut 400ms, opacity ease 300ms;
    transform     : translateY(3rem);
    opacity       : 0;

    &--inview {
        opacity  : 1;
        transform: translateY(0);
    }

    &::after {
        content      : '';
        position     : absolute;
        z-index      : -1;
        left         : 0;
        top          : 0;
        right        : 0;
        bottom       : 0;
        border-radius: s.$border-radius-medium;
        box-shadow   : s.$shadow;
        transition   : transform 150ms s.$Power3EaseInOut;
        background   : #fff;
        background   : linear-gradient(#ffffff 80%, #f8f8f8 100%);
    }

    &--participant,
    &--creator {
        &::before {
            content         : 'Je participe';
            position        : absolute;
            padding         : .2rem .5rem;
            top             : -.55rem;
            border-radius   : 12px;
            font-size       : .7rem;
            font-family     : s.$font-family-heading;
            color           : #ffffff;
            background-color: s.$color-primary;
            box-shadow      : 0 -2px 2px 0 rgba($color: #000000, $alpha: .1) inset;
            transition      : transform 150ms s.$Power3EaseInOut;
        }
    }

    &--participant {
        &::after {
            border-top: 2px solid s.$color-primary-lighter;
        }
    }

    &--creator {
        &::after {
            border-top: 2px solid s.$color-secondary-lighter;
        }

        &::before {
            content         : 'J\'organise';
            background-color: s.$color-secondary;
        }
    }

    &.card--cancelled.card--participant,
    &.card--cancelled.card--creator {
        opacity: .5;
        filter: grayscale(70%);
        &::before {
            content: 'Annulée';
            background-color: s.$color-dark-lighter;
        }
        &::after {
            border-top: 2px solid s.$color-dark-lightest;
        }
    } 
    
    &:hover {
        &::after {
            transform: scale(1.02) translateY(-.125rem);
        }
    }

    &--participant,
    &--creator {
        &:hover::before {
            transform: translateY(-8px) !important;
        }
    }

    .heading {
        margin-bottom     : .375rem;
        display           : -webkit-box;
        overflow          : hidden;
        text-overflow     : ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        word-break        : break-word;
    }

    &__link {
        display       : flex;
        width         : 100%;
        flex-direction: column;
        align-items   : center;
        // padding       : 1.5rem 1.5rem 2.25rem 1.5rem;
        padding       : 1.5rem 1rem 2.25rem 1rem;
        cursor        : pointer;
    }

    &__img {
        align-items  : stretch;
        margin-bottom: 1.25rem;
        padding: 0 .5rem;
        transition   : transform 500ms s.$Power4EaseOut;
    }

    &:hover &__img {
        transform: translateY(-10px);
    }

    &__desc {
        display           : -webkit-box;
        margin-bottom     : 0;
        overflow          : hidden;
        text-overflow     : ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        word-break        : break-word;
        height            : 3rem;
    }

    &__infos {
        margin-top     : 1rem;
        text-align     : left;
    }

    &__info {
        display              : flex;
        grid-template-columns: auto 1fr;
        align-items          : center;
        justify-content      : center;
        font-weight          : s.$font-weight-bold;
        color                : s.$color-primary;

        &:not(:first-child) {
            margin-top: .6rem;
        }

        &-sup {
            display: inline-block;
            margin-left: .375rem;
        }

        .icon {
            margin-right: .375rem;
            width       : 1.7rem;
            height      : 1.7rem;
            color       : s.$color-primary;
        }

        &--date {
            opacity: .8;
            line-height: 1.3rem;
            .icon {
                width: 1.3rem;
                height: 1.3rem;
                margin-right: .375rem;
            }
        }
        
        .icon--clock {
            margin-left: 1rem;
        }
    }
}