@use 'src/styles/settings'as s;

.filter {
    margin: 2rem 0 4rem 0;

    &__items {
        display: flex;

        display        : flex;
        justify-content: center;
        align-items    : center;
        width          : 100%;
        flex-wrap      : wrap;
    }

    &__item {
        margin               : .375rem;
        display              : grid;
        grid-template-columns: 1fr;
        justify-items        : center;
    }

    &__img {
        width        : 5rem;
        height       : 5rem;
        margin-bottom: .5rem;
        transition   : transform ease 200ms;
    }

    &__item-txt {
        text-align : center;
        font-size  : .85em;
        font-family: s.$font-family-heading;
    }

    &__label {
        position: relative;

        padding: .75rem .625rem;
        cursor : pointer;

        &::before {
            content      : '';
            position     : absolute;
            left         : 0;
            top          : 0;
            right        : 0;
            bottom       : 0;
            border-radius: s.$border-radius-small;
            transform    : scale(1) translateY(0);
            border       : 2px solid rgba(0, 0, 0, .1);
            transition   : border ease 100ms, transform ease 100ms;
        }

        &:hover {
            .filter__img {
                transform: translateY(-2px);
            }

            &::before {
                transform: scale(1.05) translateY(-2px);
                border   : 2px solid s.$primary-color-lighter;
            }
        }
    }

    &__checkbox {
        position: absolute;
        opacity : 0;

        &:checked~* {
            &::before {
                transform: scale(1.05) translateY(-2px);
                border   : 2px solid s.$primary-color-light;
            }
        }
    }

    &__actions {
        width     : 100%;
        text-align: center;
        margin-top: 1rem;

        &>*:not(:first-child) {
            margin-left: .5rem;
        }
    }
}